body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #d32f2f; /* Червоний */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-left: 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.nav-menu a:hover {
    color: #ffcccb; /* Світліший відтінок червоного */
}

.pizza-info {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.pizza-image img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

.pizza-description h2 {
    font-weight: bold;
    color: #d32f2f; /* Червоний */
}

.pizza-description p {
    font-weight: 600;
    color: #333; /* Темно-сірий */
    line-height: 1.5;
}

#ingredients, #size {
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

#ingredients ul, #size label {
    font-size: 18px;
}

.order-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    background-color: #ff5722; /* Яскравий помаранчевий */
    color: white;
    border: none;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.order-button:hover {
    background-color: #e64a19; /* Темніший помаранчевий */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

footer p {
    margin: 0;
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    color: #ff5722;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-links a:hover {
    color: #e64a19;
}
